/* start chat */

.chat {
  background-color: #15131D;
  height: 80%;
  width: 90%;
  /* height: 90v; */
  display: flex;


}

.chat-left-side {
  height: 80%;
  width: 25%;
  display: flex;
  flex-direction: column;
}

/* start onlineNow */
.onlineNow {
  display: flex;
  flex-direction: column;
  background-color: #15131D;
  /* height: 100%; */

}

.onlineList {
  background: #15131D;
  display: flex;
  max-height: 110px;
  justify-content: left;
  align-items: center;
  overflow-x: auto;
  /* margin: 0px 10px 0px 10px; */
  /* scroll-behavior: smooth; */
}

.onlineList::-webkit-scrollbar {
  height: 10px;
}

.onlineList::-webkit-scrollbar-track {
  background-color: #15131D;
}

.onlineList::-webkit-scrollbar-thumb {
  background-color: #70686749;
}

.onlineList::-webkit-scrollbar-thumb:hover {
  background-color: #6664646c;
}



.onlineList .onlineUser {
  min-width: 60px;
  height: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
}

/* end onlineNow */

/* start option select friends or channel */
.msgSelect {
  background-color: #15131D;
  font-size: 16px;
  height: 90%;
  width: 100%;
  padding: 5px;
  /* width: 866px; */
}

/* end option select friends or channel */

/* start friends list */
.friendsMessaged {
  display: flex;
  flex-direction: column;
  background-color: #15131D;
  min-height: 100%;
  /* visibility: none; */
  /* margin: 0px 10px 0px 10px; */

  /* width: 866px; */

}

.searchBar {
  background-color: #15131D;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listFriends {
  display: flex;
  /* flex-direction: ; */
  padding: 0px 6px 0px 10px;

  /* margin: 0px 10px 0px 10px; */

}

.isJoined {
  background-color: #E95A3A;
  width: 30px;
  height: 20px;

  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 999px;
  text-align: center;
  margin: auto 50px 10px auto;
}

.isJoined:hover {
  background-color: #252134;
}

.unread {
  background: #E95A3A;
  width: 12px;
  height: 12px;
  font-size: 9px;
  border-radius: 999px;
  text-align: center;
  margin: auto 5px 10px auto;


}

.selectFriend:hover {
  background-color: #252134;
}

.friendsscroll {
  display: flex;
  flex-direction: column;
  background-color: #15131D;
  overflow-y: auto;
}

/* For Chrome and Safari */
.friendsscroll::-webkit-scrollbar {
  width: 10px;
}

.friendsscroll::-webkit-scrollbar-track {
  background-color: #252134;
}

.friendsscroll::-webkit-scrollbar-thumb {
  background-color: #70686749;
}

.friendsscroll::-webkit-scrollbar-thumb:hover {
  background-color: #3130306c;
}

.friend :active {
  background-color: #1f1f1f79;

}

/* end friend list */

/* start conv */
.friendConv {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  background-color: #15131D;
  /* background-color: #15131D; */

}

.barInfo {
  display: flex;
  height: 10%;
  /* justify-content: center; */
  align-items: center;
  background-color: #15131D;
}

.optionsUserSelect {
  background: #15131D;
  font-size: 12px;
}

.optionsUserSelect:hover {
  background-color: #252134;
}

.optionUserDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 9px;
  border-radius: 999px;
  text-align: center;
  margin: 0 15px 0 auto;

}

.optionUserDiv:hover .optionsUserSelect {
  display: flex;
}


.optionsUserSelect {
  display: none;
  background-color: #15131D;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
}

.btn-back {
  width: 42px;
  font-size: 20px;
  color: #ff6d4c;
  /* padding-top: 5px; */
}

.btn-back:hover {
  color: #fffbfa;
  transition: color .15s ease-in-out;
}

.btn-back:active {
  color: #ff6d4c;
  transition: color .15s ease-in-out;
}

.UserInfo {
  display: flex;
  font-size: 16px;
}

.UserStatus {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.statusUser {
  font-size: 12px;
  /* color: #717273; */
}

.pictureUser {
  min-width: 45px;
  min-height: 45px;
  width: 50px;
  border-radius: 9999px;
  /* padding-top: 5px; */
}

.historyChat {
  display: flex;
  flex-direction: column;
  height: 85%;
  border-radius: 25px;
  background: linear-gradient(116deg, #110D1F 44.59%, rgba(17, 13, 31, 0.00) 103.76%);
  overflow-y: auto;
  padding: 0 2% 5px 0;

}

.historyChat::-webkit-scrollbar {
  width: 0px;
}


.recieve-msg {
  color: #fffbfa;
  /* background-color: #12073b; */
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px 10px 5px 10px;
}

.message-text-recieve {
  border-radius: 0px 12.5px 14.5px 14.5px;
  padding: 10px;
  background: #E95A3A;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 60%;
  height: 100%;
  flex-shrink: 0;

}

.send-msg .message-details {
  font-size: 10px;
  padding: 0 5px 0 5px;
  text-align: right;
}

.infoTime {
  font-size: 10px;
  /* padding: 0 5% 0 5px; */
  color: #717273;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.infoName {
  color: #FFF;
  font-size: 10px;
  /* padding: 0 5% 0 5px; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.send-msg {
  color: #fffbfa;
  /* background-color: #222222; */
  display: flex;
  flex-direction: column;
  /* text-align: right; */
  padding: 5px 10px 5px 10px;
  /* width: 100%; */
}

.message-text-sender {
  border-radius: 14.5px 0px 14.5px 14.5px;
  background: #252134;

  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding: 10px;
  margin-left: 40%;
}

.message-content {
  word-wrap: break-word;
}


.sendYourMsg {
  background: #15131D;
  width: 100%;
  /* margin: 1 px; */
  min-height: 5%;
  max-height: 5%;
  display: flex;
  align-items: center;
  float: left;
  /* overflow: hidden; */
}

.sendYourMsg .textAreaDiv {
  border-radius: 7px;
  border: 1px solid #383546;
  background: #252134;
  padding: 2px 5px;
  outline: none;
  display: flex;
  resize: none;
  /* width: 695px; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-grow: 1;
  width: 80%;

  /* align-items: center; */
  /* justify-content: center; */
}

.sendYourMsg textarea {
  border: none;
  background: #252134;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  resize: none;
  width: 100%;
  height: 100%;
  outline: none;
  /* overflow: hidden; */
  /* padding: 0 5px 0 5px; */
}

.sendYourMsg textArea::placeholder {
  color: #717273;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.sendYourMsg textarea::-webkit-scrollbar {
  width: 0px;
}

.sendYourMsg .submitBtn {
  padding-left: 10px;
  /* width: 60px; */
  height: 60%;
  flex-shrink: 0;
}

.noConversation {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  background-color: #15131D;
  /* justify-content: center; */
  align-items: center;
}

.noConversation p {
  margin-top: 15%;
  padding: 5%;
  background-color: #E95A3A;
  font-size: 20px;
  color: #fffbfa;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  text-align: center;
}

/* start channel styles */
.channelConv {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-radius: 25px;
  background: linear-gradient(116deg, #110D1F 44.59%, rgba(17, 13, 31, 0.00) 103.76%);

}

.infoChannel {

  /* justify-content: center; */
  width: 25%;
  border-radius: 25px;
  /* background: linear-gradient(116deg, #110D1F 44.59%, rgba(17, 13, 31, 0.00) 103.76%); */
  background: #717273;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topSideOfChannel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.infoChannel h2 {
  margin-top: 10%;
  color: #FFF;
  /* font-family: Neue Plak; */
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 15px;
}


.infoChannel .channelName {
  color: #FFF;
  /* font-family: Neue Plak; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 5px;
}

.infoChannel .channelType {
  color: #717273;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.infoMembersOfChannel {
  display: flex;
  flex-direction: column;
  background: #E95A3A;
  ;
  width: 90%;
  max-height: 20%;
}

.infoMembersOfChannel .channelOwner {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px;
}

.infoMembersOfChannel .membersOfChannel {
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: #252134;
  padding: 5px 15px;
}

.infoMembersOfChannel .listMembersOfChannel {
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: #252134;
  padding: 5px 15px;
  overflow-y: auto;

}

.infoMembersOfChannel .listMembersOfChannel::-webkit-scrollbar {
  width: 0px;
}

.infoMembersOfChannel .membersOfChannel img {
  border-radius: 9999px;
}

.memberName {
  padding-left: 4px;
}

.infoMembersOfChannel .boxMember {
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
}

/* end channel styles  */
/* end conv */